<%@html = "<ul id='sub'>"
@notFirst = false%>
<%
def display_sub_projects(projects)
if(@notFirst)
  @html << '<ul>'
end
@notFirst=true
   projects.each do |project|
     @html << '<li>'
     @html << '<div class="hitarea"></div>' if project.children.any?
     @html << '<a href="/projects/'+project.identifier+'">'+project.name+'</a>&nbsp;'
     if project.children.any?
        display_sub_projects project.children
     end
     @html << '</li>'
   end
   @html << '</ul>'
end
%>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
<script type="text/javascript" src="/plugin_assets/redmine_show_areas/javascripts/jquery.treeview.js"></script>
<link rel="stylesheet" media="all" href="/plugin_assets/redmine_show_areas/stylesheets/jquery.treeview.css" type="text/css"/>
<div id="treecontrol" style="display: block;">
		<a href="#" title="Collapse the entire tree below"><img src="/plugin_assets/redmine_show_areas/stylesheets/images/minus.gif"/> Collapse All</a>
		<a href="#" title="Expand the entire tree below"><img src="/plugin_assets/redmine_show_areas/stylesheets/images/plus.gif"/> Expand All</a>
		<a href="#" title="Toggle the tree below, opening closed branches, closing open branches">Toggle All</a>
</div>

<%display_sub_projects @projects%>

<%=raw @html-%>
<style>
.Areas {
  background: none repeat scroll 0 0 #759FCF;
    color: #FFFFFF;
}
</style>
<script type="text/javascript">
  $("#sub").treeview({
control: "#treecontrol",
animated: "fast",
collapsed: true
});


</script>
